.dashboard {
    color: white;
    cursor: pointer;
  }
  .dashboard-menu {
    text-decoration: none;
    color: purple;
  }
  .dashboard-menu:hover {
    color: palevioletred;
  }
  .nav-bg{
    background-color: purple;
  }