footer{
    background-color:rgb(82, 18, 82);
  
}
.logo{
  width: 100px;
}
.logo2{
  width: 150px;
}
.footer-heading{
  color:rgb(202, 173, 187);
}

.icon i {
  color: rgb(228, 217, 204);
  font-size: large;
    padding-right: 10px;
   
}